Repository vibegui/vibegui.com: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run fmt
  stage_fixed: true

lint:
  run: bun run lint

Add leadership distinctions extracted from Werner Erhard course
  context/leadership/01_integrity.md
  context/leadership/02_authenticity.md
  context/leadership/03_something_bigger.md
  context/leadership/04_being_cause_in_matter.md
  context/leadership/05_future_as_context.md
  context/leadership/06_already_always_listening.md
  context/leadership/07_rackets.md
  context/leadership/08_authentic_listening.md
  context/leadership/09_contextual_framework.md
  context/leadership/10_power.md
Due: format

Add more context
  .gitignore
  context/LINKEDIN_PROFILE.md
  context/integrity_positive_model_10page_summary.md
  dist/assets/index.0-H_Vhyb.js
  dist/assets/index.CCzqzkOh.js
  dist/assets/index.DMw7YuNX.css
  dist/assets/index.nqWCLIWt.css
  dist/content/manifest.json
  dist/index.html
  mcp-server.ts
  public/content/manifest.json
  src/pages/article.tsx
Due: format, lint

Add content and context
  context/leadership/README.md
  dist/assets/index.CCzqzkOh.js
  dist/assets/index.CGPqkH3h.js
  dist/assets/index.CQH8-8ej.css
  dist/assets/index.DMw7YuNX.css
  dist/assets/markdown.BaswSlok.js
  dist/assets/react-dom.cI5JZyE8.js
  dist/assets/react.5m7JIW5N.js
  dist/content/manifest.json
  dist/context/integrity_positive_model_10page_summary.md
  dist/context/leadership/01_integrity.md
  dist/context/leadership/02_authenticity.md
  dist/context/leadership/03_something_bigger.md
  dist/context/leadership/04_being_cause_in_matter.md
  dist/context/leadership/05_future_as_context.md
  dist/context/leadership/06_already_always_listening.md
  dist/context/leadership/07_rackets.md
  dist/context/leadership/08_authentic_listening.md
  dist/context/leadership/09_contextual_framework.md
  dist/context/leadership/10_power.md
  dist/context/leadership/README.md
  dist/index.html
  mcp-server.ts
  public/content/manifest.json
  public/context/integrity_positive_model_10page_summary.md
  public/context/leadership
  src/app.tsx
  src/components/header.tsx
  src/pages/alignment.tsx
  src/pages/commitment.tsx
  src/pages/content.tsx
  src/pages/context.tsx
  src/pages/deco.tsx
  src/pages/integrity.tsx
  tests/constraints/build-size.test.ts
  vite.config.ts
Due: format, lint

Fix details
  content/articles/hello-world-building-an-mcp-native-blog.md
  public/content/manifest.json
  src/components/article-card.tsx
  src/pages/home.tsx
Due: format, lint

Build
  dist/assets/index.CGPqkH3h.js
  dist/assets/index.CQH8-8ej.css
  dist/content/articles/hello-world-building-an-mcp-native-blog.md
  dist/content/manifest.json
  dist/index.html
Due: format

Build on commit and add
  dist/assets/index.BDOs3Vpl.css
  dist/assets/index.Cd3NIM0g.js
  dist/content/manifest.json
  dist/index.html
  lefthook.yml
  public/content/manifest.json
Due: format

Improve integrity summary naming
  context/integrity_positive_model_summary.md
  dist/assets/index.BOmNAYoj.js
  dist/assets/index.Cd3NIM0g.js
  dist/content/manifest.json
  dist/context/integrity_positive_model_summary.md
  dist/index.html
  public/content/manifest.json
  public/context/integrity_positive_model_10page_summary.md
  public/context/integrity_positive_model_summary.md
  src/pages/context.tsx
Due: format, lint

Fix duplication
  .gitignore
  dist/content/articles/.gitkeep
  dist/content/articles/hello-world-building-an-mcp-native-blog.md
  dist/content/manifest.json
  dist/context/integrity_positive_model_summary.md
  dist/context/leadership/01_integrity.md
  dist/context/leadership/02_authenticity.md
  dist/context/leadership/03_something_bigger.md
  dist/context/leadership/04_being_cause_in_matter.md
  dist/context/leadership/05_future_as_context.md
  dist/context/leadership/06_already_always_listening.md
  dist/context/leadership/07_rackets.md
  dist/context/leadership/08_authentic_listening.md
  dist/context/leadership/09_contextual_framework.md
  dist/context/leadership/10_power.md
  dist/context/leadership/README.md
  lefthook.yml
  package.json
  public/content/manifest.json
  public/context
  public/context/integrity_positive_model_summary.md
  public/context/leadership
  src/pages/article.tsx
  src/pages/context.tsx
Due: format, lint

Avoid npm install on build
  package.json
  public/content/manifest.json
Due: format

Manifest
  public/content/manifest.json
Due: format

Fix order
  dist/.vite/manifest.json
  dist/content/articles/.gitkeep
  dist/content/articles/hello-world-building-an-mcp-native-blog.md
  dist/content/manifest.json
  dist/context/.DS_Store
  dist/context/LINKEDIN_PROFILE.md
  dist/context/integrity_positive_model_summary.md
  dist/context/leadership/01_integrity.md
  dist/context/leadership/02_authenticity.md
  dist/context/leadership/03_something_bigger.md
  dist/context/leadership/04_being_cause_in_matter.md
  dist/context/leadership/05_future_as_context.md
  dist/context/leadership/06_already_always_listening.md
  dist/context/leadership/07_rackets.md
  dist/context/leadership/08_authentic_listening.md
  dist/context/leadership/09_contextual_framework.md
  dist/context/leadership/10_power.md
  dist/context/leadership/README.md
  lefthook.yml
Due: format

Remove test results from commit
  .gitignore
  dist/content/manifest.json
  public/content/manifest.json
  test-results/.last-run.json
Due: format

Fix deps for cf build
  dist/content/manifest.json
  package.json
  public/content/manifest.json
Due: format

Fix prepare
  dist/content/manifest.json
  package.json
  public/content/manifest.json
Due: format

Add canonical and search tools
  dist/.vite/manifest.json
  dist/_redirects
  dist/assets/index.BOmNAYoj.js
  dist/assets/index.Dp_XZZMP.js
  dist/content/manifest.json
  dist/index.html
  index.html
  mcp-server.ts
  public/_redirects
  public/content/manifest.json
  src/app.tsx
  src/hooks/use-canonical.ts
Due: format, lint

Remove redirect
  dist/_redirects
  dist/content/manifest.json
  public/_redirects
  public/content/manifest.json
Due: format

Add about the author details and image
  CONSTRAINTS.md
  README.md
  bun.lock
  dist/.vite/manifest.json
  dist/assets/index.BDOs3Vpl.css
  dist/assets/index.BycEYTFx.css
  dist/assets/index.D2IgamKV.js
  dist/assets/index.Dp_XZZMP.js
  dist/content/manifest.json
  dist/images/profile-2025-12.png
  dist/index.html
  package.json
  public/content/manifest.json
  public/images/profile-2025-12.png
  scripts/optimize-images.ts
  src/app.tsx
  src/pages/commitment.tsx
  tests/constraints/images.test.ts
Due: format, lint

Update style and menu
  dist/.vite/manifest.json
  dist/assets/index.BUwR8M1d.js
  dist/assets/index.BycEYTFx.css
  dist/assets/index.CNyFm1Ro.css
  dist/assets/index.D2IgamKV.js
  dist/content/manifest.json
  dist/index.html
  public/content/manifest.json
  src/app.tsx
  src/components/article-card.tsx
  src/components/header.tsx
  src/components/page-header.tsx
  src/pages/commitment.tsx
  src/pages/content.tsx
  src/pages/context.tsx
  src/pages/home.tsx
  src/styles/main.css
Due: format, lint

Add social links
  dist/.vite/manifest.json
  dist/assets/index.BKO2xX5U.js
  dist/assets/index.BUwR8M1d.js
  dist/assets/index.CNyFm1Ro.css
  dist/assets/index.D3iwfv_0.css
  dist/content/manifest.json
  dist/index.html
  public/content/manifest.json
  src/pages/commitment.tsx
Due: format, lint

Force cache of content
  dist/_headers
  dist/content/manifest.json
  public/_headers
  public/content/manifest.json
Due: format

Improve layout
  dist/.vite/manifest.json
  dist/assets/index.BKO2xX5U.js
  dist/assets/index.D6ebetKM.js
  dist/content/manifest.json
  dist/index.html
  public/content/manifest.json
  src/pages/article.tsx
Due: format, lint

Improve initial article
  content/articles/hello-world-building-an-mcp-native-blog.md
  dist/.vite/manifest.json
  dist/assets/index.Ct4HDghK.js
  dist/assets/index.D3iwfv_0.css
  dist/assets/index.D6ebetKM.js
  dist/assets/index.vAA8HVbg.css
  dist/content/articles/hello-world-building-an-mcp-native-blog.md
  dist/content/manifest.json
  dist/index.html
  public/content/manifest.json
  src/pages/article.tsx
  src/styles/main.css
Due: format, lint

improve post
  content/articles/hello-world-building-an-mcp-native-blog.md
  dist/content/articles/hello-world-building-an-mcp-native-blog.md
  dist/content/manifest.json
  public/content/manifest.json
Due: format

Add content hashing for articles and hashed manifest
  dist/.vite/manifest.json
  dist/_headers
  dist/assets/index.C6ogMSH0.js
  dist/assets/index.Ct4HDghK.js
  dist/content/articles/hello-world-building-an-mcp-native-blog.12125a8d.md
  dist/content/articles/hello-world-building-an-mcp-native-blog.md
  dist/content/manifest.ecfa60ac.json
  dist/content/manifest.json
  dist/context/LINKEDIN_PROFILE.fb4ff217.md
  dist/context/integrity_positive_model_summary.6e4497ea.md
  dist/context/leadership/leadership/01_integrity.d689aa87.md
  dist/context/leadership/leadership/02_authenticity.3270c04b.md
  dist/context/leadership/leadership/03_something_bigger.84f027ba.md
  dist/context/leadership/leadership/04_being_cause_in_matter.4b080be3.md
  dist/context/leadership/leadership/05_future_as_context.85ee9229.md
  dist/context/leadership/leadership/06_already_always_listening.efbc63da.md
  dist/context/leadership/leadership/07_rackets.7cb377da.md
  dist/context/leadership/leadership/08_authentic_listening.3c26f847.md
  dist/context/leadership/leadership/09_contextual_framework.bb2399df.md
  dist/context/leadership/leadership/10_power.3f1f360e.md
  dist/context/leadership/leadership/README.c1ec0422.md
  dist/index.html
  package.json
  public/_headers
  public/content/manifest.json
  scripts/hash-content.ts
  src/lib/manifest.ts
  src/pages/article.tsx
  src/pages/content.tsx
  src/pages/context.tsx
  vite.config.ts
Due: format, lint

Remove duplicate content and simplify hash on build
  content/articles/hello-world-building-an-mcp-native-blog.md
  dist/content/articles/hello-world-building-an-mcp-native-blog.285bf264.md
  dist/content/articles/hello-world-building-an-mcp-native-blog.md
  dist/content/manifest.cb518e9d.json
  dist/content/manifest.json
  dist/index.html
  package.json
  public/content/manifest.json
  scripts/hash-content.ts
Due: format, lint

Fix context files
  dist/.vite/manifest.json
  dist/assets/index.j5XAqdhH.js
  dist/content/manifest.4311a78b.json
  dist/content/manifest.json
  dist/context/LINKEDIN_PROFILE.md
  dist/context/integrity_positive_model_summary.md
  dist/context/leadership/01_integrity.d689aa87.md
  dist/context/leadership/02_authenticity.3270c04b.md
  dist/context/leadership/03_something_bigger.84f027ba.md
  dist/context/leadership/04_being_cause_in_matter.4b080be3.md
  dist/context/leadership/05_future_as_context.85ee9229.md
  dist/context/leadership/06_already_always_listening.efbc63da.md
  dist/context/leadership/07_rackets.7cb377da.md
  dist/context/leadership/08_authentic_listening.3c26f847.md
  dist/context/leadership/09_contextual_framework.bb2399df.md
  dist/context/leadership/10_power.3f1f360e.md
  dist/context/leadership/README.c1ec0422.md
  dist/context/leadership/leadership/01_integrity.d689aa87.md
  dist/context/leadership/leadership/02_authenticity.3270c04b.md
  dist/context/leadership/leadership/03_something_bigger.84f027ba.md
  dist/context/leadership/leadership/04_being_cause_in_matter.4b080be3.md
  dist/context/leadership/leadership/05_future_as_context.85ee9229.md
  dist/context/leadership/leadership/06_already_always_listening.efbc63da.md
  dist/context/leadership/leadership/07_rackets.7cb377da.md
  dist/context/leadership/leadership/08_authentic_listening.3c26f847.md
  dist/context/leadership/leadership/09_contextual_framework.bb2399df.md
  dist/context/leadership/leadership/10_power.3f1f360e.md
  dist/context/leadership/leadership/README.c1ec0422.md
  dist/index.html
  public/content/manifest.json
  scripts/hash-content.ts
  src/lib/manifest.ts
  tests/e2e/content.spec.ts
Due: format, lint

Test against production version
  dist/content/manifest.1befc917.json
  dist/content/manifest.json
  dist/index.html
  playwright.config.ts
  public/content/manifest.json
Due: format, lint

Update readme
  README.md
  dist/content/manifest.56e85a0e.json
  dist/content/manifest.json
  dist/index.html
  public/content/manifest.json
Due: format

Make hash for manifest stable on content
  dist/content/manifest.76dfc18b.json
  dist/content/manifest.json
  dist/index.html
  public/content/manifest.json
  scripts/hash-content.ts
  src/lib/manifest.ts
  vite.config.ts
Due: format, lint

chore: remove dist/content and dist/context from git, fix idempotent manifest injection
  scripts/hash-content.ts
Due: format, lint

fix: prevent lefthook from re-adding gitignored dist/content and dist/context
  dist/content/articles/.gitkeep
  dist/content/articles/hello-world-building-an-mcp-native-blog.285bf264.md
  dist/content/articles/hello-world-building-an-mcp-native-blog.md
  dist/content/manifest.76dfc18b.json
  dist/content/manifest.json
  dist/context/.DS_Store
  dist/context/LINKEDIN_PROFILE.fb4ff217.md
  dist/context/integrity_positive_model_summary.6e4497ea.md
  dist/context/leadership/01_integrity.d689aa87.md
  dist/context/leadership/02_authenticity.3270c04b.md
  dist/context/leadership/03_something_bigger.84f027ba.md
  dist/context/leadership/04_being_cause_in_matter.4b080be3.md
  dist/context/leadership/05_future_as_context.85ee9229.md
  dist/context/leadership/06_already_always_listening.efbc63da.md
  dist/context/leadership/07_rackets.7cb377da.md
  dist/context/leadership/08_authentic_listening.3c26f847.md
  dist/context/leadership/09_contextual_framework.bb2399df.md
  dist/context/leadership/10_power.3f1f360e.md
  dist/context/leadership/README.c1ec0422.md
  lefthook.yml
Due: format

chore: remove dist/.vite from tracking, minimize dist in source control
  .gitignore
  dist/.vite/manifest.json
  lefthook.yml
Due: format

Dark default
  dist/assets/index.BIIMyfuD.js
  dist/index.html
  index.html
  src/components/theme-toggle.tsx
Due: format, lint

Add Life Sentence
  README.md
  context/leadership/07_life_sentences.md
  context/leadership/08_rackets.md
  context/leadership/09_authentic_listening.md
  context/leadership/10_contextual_framework.md
  context/leadership/11_power.md
  context/leadership/README.md
  dist/assets/index.BIIMyfuD.js
  dist/assets/index.DWAgb_Y0.css
  dist/assets/index.vAA8HVbg.css
  dist/assets/index.vJbZW629.js
  dist/index.html
  src/pages/context.tsx
Due: format, lint

Add initial implementation of whatsapp message scraper
  .gitignore
  extensions/whatsapp-scraper/README.md
  extensions/whatsapp-scraper/content.css
  extensions/whatsapp-scraper/content.js
  extensions/whatsapp-scraper/generate-icons.ts
  extensions/whatsapp-scraper/icon.svg
  extensions/whatsapp-scraper/manifest.json
  extensions/whatsapp-scraper/popup.css
  extensions/whatsapp-scraper/popup.html
  extensions/whatsapp-scraper/popup.js
Due: format, lint

Fix closing popup
  extensions/whatsapp-scraper/content.js
  extensions/whatsapp-scraper/manifest.json
  extensions/whatsapp-scraper/popup.js
Due: format

Style and scraping fix
  extensions/whatsapp-scraper/popup.css
  extensions/whatsapp-scraper/popup.html
  extensions/whatsapp-scraper/popup.js
Due: format

Make into left-side panel
  dist/assets/index.DLQK1CTA.js
  dist/assets/index.DWAgb_Y0.css
  dist/assets/index.DgjEdo1U.css
  dist/index.html
  extensions/whatsapp-scraper/README.md
  extensions/whatsapp-scraper/background.js
  extensions/whatsapp-scraper/content.css
  extensions/whatsapp-scraper/content.js
  extensions/whatsapp-scraper/manifest.json
  extensions/whatsapp-scraper/panel.css
  extensions/whatsapp-scraper/popup.css
  extensions/whatsapp-scraper/popup.html
  extensions/whatsapp-scraper/popup.js
Due: format

Add initial bookmark load
  .gitignore
  bun.lock
  content/articles/from-whatsapp-to-bookmarks-building-an-mcp-powered-link-aggregat.md
  dist/assets/index.DLQK1CTA.js
  dist/assets/index.DgF_BWb_.css
  dist/assets/index.DgjEdo1U.css
  dist/assets/index.R5NED8Z7.js
  dist/index.html
  extensions/whatsapp-scraper/README.md
  extensions/whatsapp-scraper/content.js
  extensions/whatsapp-scraper/manifest.json
  extensions/whatsapp-scraper/panel.css
  lib/bookmarks/chrome.ts
  lib/bookmarks/firefox.ts
  lib/bookmarks/index.ts
  lib/bookmarks/safari.ts
  lib/bookmarks/types.ts
  mcp-server.ts
  package.json
  public/bookmarks/links.csv
  scripts/enrich-social-links.ts
  src/app.tsx
  src/components/page-header.tsx
  src/lib/manifest.ts
  src/pages/bookmarks.tsx
  src/pages/content.tsx
  vite.config.ts
Due: format, lint

fix: remove glob filter from format step to ensure all files are formatted
  lefthook.yml
Due: none

Path conditions:
  format: any of: *.{ts,tsx,js,json,css,md}
  lint: any of: *.{ts,tsx}
