Repository vibegui/vibegui.com: changes, and which lefthook commands are due for each by the changed paths.
All: 1_format, 2_lint

1_format:
  run: bun run fmt
  stage_fixed: true

2_lint:
  run: bun run lint

feat(bookmarks): SQLite-based bookmarks with AI enrichment
  .gitignore
  bun.lock
  content/README.md
  content/articles/.gitkeep
  content/articles/from-whatsapp-to-bookmarks-building-an-mcp-powered-link-aggregat.md
  content/articles/hello-world-building-an-mcp-native-blog.md
  content/drafts/.gitkeep
  content/ideas/.gitkeep
  content/research/.gitkeep
  data/bookmarks.db
  data/content.db
  data/research.db
  dist/assets/index.Cc1s6TC_.js
  dist/assets/index.DQ0-ZzqS.css
  dist/assets/index.DgF_BWb_.css
  dist/assets/index.R5NED8Z7.js
  dist/assets/react-dom.Ch-CG1a-.js
  dist/assets/react.5m7JIW5N.js
  dist/assets/react.Cu7fmCo9.js
  dist/index.html
  lefthook.yml
  lib/db/content.ts
  lib/db/index.ts
  lib/db/research.ts
  mcp-server.ts
  package.json
  public/bookmarks/links.csv
  public/content/articles
  public/content/manifest.json
  scripts/enrich-social-links.ts
  scripts/export-bookmarks.ts
  scripts/export-content.ts
  scripts/export-research.ts
  scripts/hash-content.ts
  src/lib/manifest.ts
  src/pages/article.tsx
  src/pages/bookmarks.tsx
  src/pages/content.tsx
  tests/constraints/build-size.test.ts
  vite.config.ts
Due: 1_format, 2_lint

fix(e2e): fix context routing and touch targets
  dist/assets/index.Cc1s6TC_.js
  dist/assets/index.DQ0-ZzqS.css
  dist/assets/index.Dj6l6v7a.js
  dist/assets/index.DliSq2jA.css
  dist/index.html
  src/lib/manifest.ts
  src/pages/content.tsx
Due: 1_format, 2_lint

fix: add export to pages:build, hide drafts in production
  .gitignore
  lefthook.yml
  package.json
  scripts/export-content.ts
  scripts/export-research.ts
Due: 1_format, 2_lint

refactor: remove research feature
  .gitignore
  data/research.db
  lib/db/research.ts
  mcp-server.ts
  package.json
  scripts/export-research.ts
  scripts/hash-content.ts
  src/lib/manifest.ts
Due: 1_format, 2_lint

refactor: use Node 22 native sqlite (zero deps)
  lib/db/content.ts
  lib/db/index.ts
  package.json
  scripts/export-bookmarks.ts
  scripts/export-content.ts
Due: 1_format, 2_lint

data: checkpoint bookmarks.db with 32 enriched entries
  data/bookmarks.db
Due: none

chore: checkpoint SQLite WAL before commits
  lefthook.yml
Due: none

feat(bookmarks): add sorting by rating, filter by rating and platform
  data/bookmarks.db
  dist/assets/index.Dj6l6v7a.js
  dist/assets/index.DnP-zorx.js
  dist/index.html
  src/pages/bookmarks.tsx
Due: 1_format, 2_lint

feat: SQLite-based MCP tools + updated README and draft
  README.md
  data/content.db
  lib/db/content.ts
  lib/db/index.ts
  mcp-server.ts
Due: 1_format, 2_lint

publish: From WhatsApp to Bookmarks article
  data/content.db
  dist/index.html
Due: none

chore: untrack public/content (generated at build time)
  public/content/manifest.json
Due: 1_format

fix: disable auto-enrich in prod + update article date to Dec 27
  data/content.db
  dist/assets/index.DJAWJQV8.js
  dist/assets/index.DnP-zorx.js
  dist/index.html
  mcp-server.ts
  src/pages/bookmarks.tsx
Due: 1_format, 2_lint

refactor: rewrite WhatsApp article with better tone
  data/content.db
  dist/index.html
Due: none

refactor: improve article flow and balance tone
  data/content.db
Due: none

Update article
  data/content.db
  package.json
Due: 1_format

feat: migrate bookmarks and tags from SQLite to Supabase
  bun.lock
  data/bookmarks.db
  dist/assets/bookmarks.DyDhvOE5.js
  dist/assets/index.DJAWJQV8.js
  dist/assets/index.DliSq2jA.css
  dist/assets/index.Y9dLg1oU.css
  dist/assets/index._53GKxOV.js
  dist/index.html
  lib/db/index.ts
  lib/supabase.ts
  package.json
  scripts/migrate-tags.ts
  scripts/migrate-to-supabase.ts
  src/app.tsx
  src/pages/bookmarks.tsx
  tests/constraints/build-size.test.ts
  vite.config.ts
Due: 1_format, 2_lint

One more adventure recorded
  .gitignore
  data/bookmarks.db
  data/content.db
  dist/assets/bookmarks.UNCUvbUu.js
  dist/assets/index.C47wsGn_.css
  dist/assets/index.Y9dLg1oU.css
  dist/assets/index._53GKxOV.js
  dist/assets/index.rfU54IqM.js
  dist/index.html
  lefthook.yml
  mcp-server.ts
  mcp-stdio.ts
  package.json
  src/styles/main.css
Due: 1_format, 2_lint

Remove wal
  data/content.db
  lefthook.yml
  lib/db/content.ts
  package.json
Due: 1_format, 2_lint

Improve parsing of analysis
  .gitignore
  data/content.db
  dist/assets/bookmarks.D0X1uoay.js
  dist/assets/bookmarks.UNCUvbUu.js
  dist/assets/index.B60sGWzN.js
  dist/assets/index.C47wsGn_.css
  dist/assets/index.Dmuh54-_.css
  dist/assets/index.rfU54IqM.js
  dist/index.html
  lib/supabase.ts
  package.json
  scripts/backup-supabase.ts
  scripts/export-bookmarks.ts
  scripts/migrate-tags.ts
  scripts/migrate-to-supabase.ts
  scripts/restore-supabase.ts
  src/components/bookmark-modal.tsx
  src/pages/bookmarks.tsx
  vite.config.ts
Due: 1_format, 2_lint

Shipped bookmarks v1
  data/content.db
  dist/assets/bookmarks.D0X1uoay.js
  dist/assets/bookmarks.ockOR-7Y.js
  dist/assets/index.B60sGWzN.js
  dist/assets/index.D2E0Qfcu.js
  dist/assets/index.DdggI7Cs.css
  dist/assets/index.Dmuh54-_.css
  dist/index.html
  src/components/page-header.tsx
  src/pages/bookmarks.tsx
Due: 1_format, 2_lint

Fix slug
  data/content.db
  dist/assets/bookmarks.Co2ro9V-.js
  dist/assets/index.D2E0Qfcu.js
  dist/assets/index.DLhZ-yYH.css
  dist/assets/index.DR4G-2oR.js
  dist/assets/index.DdggI7Cs.css
  dist/index.html
Due: 1_format

Add roadmap initial version
  .gitignore
  AGENTS.md
  data/content.db
  dist/assets/bookmarks.DpVH0kvR.js
  dist/assets/index.CAXasEPR.css
  dist/assets/index.DB1JJq71.js
  dist/assets/index.DLhZ-yYH.css
  dist/assets/index.DR4G-2oR.js
  dist/assets/roadmap.CuqoczMa.js
  dist/index.html
  lib/db/content.ts
  lib/db/learnings.ts
  mcp-server.ts
  scripts/export-content.ts
  scripts/seed-projects.ts
  src/app.tsx
  src/lib/manifest.ts
  src/pages/roadmap.tsx
Due: 1_format, 2_lint

Now go
  dist/index.html
  scripts/hash-content.ts
Due: 1_format, 2_lint

Remove articles as separate collection
  AGENTS.md
  PLAN.md
  README.md
  dist/assets/bookmarks.DMHdgBYW.js
  dist/assets/index.6mV-65rK.js
  dist/assets/index.DB1JJq71.js
  dist/assets/roadmap.C5x4m_7n.js
  dist/assets/roadmap.CuqoczMa.js
  dist/index.html
  lib/db/content.ts
  mcp-server.ts
  scripts/export-content.ts
  scripts/hash-content.ts
  src/lib/manifest.ts
  src/pages/content.tsx
Due: 1_format, 2_lint

Add import
  dist/assets/bookmarks.DMHdgBYW.js
  dist/assets/bookmarks.DQS7QmQ6.js
  dist/assets/index.6mV-65rK.js
  dist/assets/index.BHTzmTwg.js
  dist/assets/index.BtIR8kOI.css
  dist/assets/index.CAXasEPR.css
  dist/assets/roadmap.C5x4m_7n.js
  dist/assets/roadmap.CZ2eEJ_p.js
  dist/index.html
  src/pages/bookmarks.tsx
Due: 1_format, 2_lint

Separate edit stuff on bookmarks
  dist/assets/bookmark-modal.D_NTTl-S.js
  dist/assets/bookmarks-edit.BPAoXYhs.js
  dist/assets/bookmarks.BNg378Ll.js
  dist/assets/bookmarks.DQS7QmQ6.js
  dist/assets/index.BFx1jIh6.css
  dist/assets/index.BHTzmTwg.js
  dist/assets/index.BtIR8kOI.css
  dist/assets/index.jVfCXACZ.js
  dist/assets/roadmap.CZ2eEJ_p.js
  dist/assets/roadmap.D8dfvqBt.js
  dist/index.html
  src/app.tsx
  src/pages/bookmarks-edit.tsx
  src/pages/bookmarks.tsx
  tests/constraints/build-size.test.ts
  vite.config.ts
Due: 1_format, 2_lint

Fix insights
  dist/assets/bookmarks-edit.BPAoXYhs.js
  dist/assets/bookmarks-edit.Sg07PsuU.js
  dist/assets/bookmarks.BNg378Ll.js
  dist/assets/bookmarks.DZ5s2_AX.js
  dist/assets/index.44wcD6NE.css
  dist/assets/index.BFx1jIh6.css
  dist/assets/index.CL_uuI6P.js
  dist/assets/index.jVfCXACZ.js
  dist/assets/roadmap.CuwYfcIO.js
  dist/assets/roadmap.D8dfvqBt.js
  dist/index.html
  mcp-stdio.ts
  src/pages/bookmarks-edit.tsx
  src/pages/bookmarks.tsx
  tests/constraints/build-size.test.ts
Due: 1_format, 2_lint

Improve prompt
  dist/assets/bookmarks-edit.B5AvDtIg.js
  dist/assets/bookmarks-edit.Sg07PsuU.js
  dist/assets/bookmarks.DVELxUZH.js
  dist/assets/bookmarks.DZ5s2_AX.js
  dist/assets/index.B9JrbpgP.js
  dist/assets/index.CL_uuI6P.js
  dist/assets/roadmap.BpmjxSfh.js
  dist/assets/roadmap.CuwYfcIO.js
  dist/index.html
  src/pages/bookmarks-edit.tsx
Due: 1_format, 2_lint

Add stdio support
  AGENTS.md
  README.md
  mcp-stdio.ts
  package.json
  server/cli.ts
  server/stdio.ts
  server/tools.ts
Due: 1_format, 2_lint

Add year review
  data/content.db
  dist/index.html
  scripts/process-linkedin-posts.ts
Due: 1_format, 2_lint

Fix date
  context/GUILHERME_TONE_OF_VOICE.md
  dist/assets/bookmarks-edit.CmJmQvGc.js
  dist/assets/bookmarks.CkH6WjBO.js
  dist/assets/bookmarks.DVELxUZH.js
  dist/assets/index.B9JrbpgP.js
  dist/assets/index.B9Q2yd_3.js
  dist/assets/roadmap.BpmjxSfh.js
  dist/assets/roadmap.CzP4CDOG.js
  dist/index.html
  src/components/article-card.tsx
  src/pages/article.tsx
Due: 1_format, 2_lint

Add linkedin articles
  data/content.db
  dist/index.html
  scripts/import-social-posts.ts
  scripts/process-linkedin-posts.ts
  vite.config.ts
Due: 1_format, 2_lint

Add more posts
  data/content.db
  dist/index.html
Due: none

New posts
  data/content.db
  dist/index.html
  lib/db/content.ts
  mcp-server.ts
  prompts/extraction/youtube-analist.md
  server/tools.ts
Due: 1_format, 2_lint

Add better SEO with favicons and OG images
  .gitignore
  data/content.db
  dist/favicon.ico
  dist/images/android-chrome-192x192.png
  dist/images/android-chrome-512x512.png
  dist/images/apple-touch-icon.png
  dist/images/favicon-16x16.png
  dist/images/favicon-32x32.png
  dist/images/favicon.png
  dist/images/og-default.png
  dist/index.html
  dist/site.webmanifest
  index.html
  lib/db/content.ts
  package.json
  prompts/favicon-v7.md
  public/favicon.ico
  public/images/android-chrome-192x192.png
  public/images/android-chrome-512x512.png
  public/images/apple-touch-icon.png
  public/images/favicon-16x16.png
  public/images/favicon-32x32.png
  public/images/favicon.png
  public/images/og-default.png
  public/site.webmanifest
  scripts/export-content.ts
  scripts/hash-content.ts
  scripts/prerender-articles.ts
  server/tools.ts
  vite.config.ts
Due: 1_format, 2_lint

Better colors
  dist/assets/bookmarks-edit.C81fWWKQ.js
  dist/assets/bookmarks.CHQBvwa5.js
  dist/assets/bookmarks.CkH6WjBO.js
  dist/assets/index.44wcD6NE.css
  dist/assets/index.B9Q2yd_3.js
  dist/assets/index.Cikt_9k-.css
  dist/assets/index.DAWle_jH.js
  dist/assets/roadmap.Bnvsufvp.js
  dist/assets/roadmap.CzP4CDOG.js
  dist/index.html
  src/styles/main.css
Due: 1_format

Dont build vite
  package.json
Due: 1_format

fix: use hashed manifest path in production
  dist/assets/bookmarks-edit.CF5ALVdc.js
  dist/assets/bookmarks.-t5DSKY1.js
  dist/assets/bookmarks.CHQBvwa5.js
  dist/assets/index.DAWle_jH.js
  dist/assets/index.LCWcZhzI.js
  dist/assets/roadmap.Bnvsufvp.js
  dist/assets/roadmap.DoDmXwVs.js
  dist/index.html
  scripts/prerender-articles.ts
  src/lib/manifest.ts
Due: 1_format, 2_lint

refactor: unified SSG pipeline for dev and prod
  .gitignore
  dist/assets/bookmarks-edit.CUSfQ4Dy.js
  dist/assets/bookmarks.-t5DSKY1.js
  dist/assets/bookmarks.OgTIOtMs.js
  dist/assets/index.BX4IkBA7.css
  dist/assets/index.Cikt_9k-.css
  dist/assets/index.DTZJLy80.js
  dist/assets/index.LCWcZhzI.js
  dist/assets/roadmap.Bmp43s8R.js
  dist/assets/roadmap.DoDmXwVs.js
  dist/index.html
  package.json
  playwright.config.ts
  scripts/build-content.ts
  scripts/export-content.ts
  scripts/hash-content.ts
  scripts/prerender-articles.ts
  scripts/preview-server.ts
  src/pages/article.tsx
  vite.config.ts
Due: 1_format, 2_lint

Fix navigation
  dist/assets/bookmarks-edit.D7yvBFao.js
  dist/assets/bookmarks.BIPIwJDe.js
  dist/assets/bookmarks.OgTIOtMs.js
  dist/assets/index.DTZJLy80.js
  dist/assets/index.DiseNbRn.js
  dist/assets/roadmap.BJVAsD5e.js
  dist/assets/roadmap.Bmp43s8R.js
  dist/index.html
  package.json
  src/components/article-card.tsx
Due: 1_format, 2_lint

Path conditions:
  1_format: any of: *.{ts,tsx,js,json,css,md}
  2_lint: any of: *.{ts,tsx}
